#cnt img{
	opacity: 0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65) black;
	-khtml-opacity: 0.65;
}

#cnt img:hover{
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter: alpha(opacity=80) black;
	-khtml-opacity: 0.8;
}

.header {
	text-align: center;
	position: absolute;
	top: 35%;
	left: 0px;
	width: 100%;
	height: 1px;
	overflow: visible;
	visibility: visible;
	display: block;
}

.cname {
	font-family: Impact, fantasy;
	font-style: normal;
	font-size: 250%;
	color: white;
	opacity: 1;
}

.textl {
	font-family: Arial Black, fantasy;
	font-style: normal;
	font-size: 100%;
	color: white;
	opacity: 1;
	background: rgba(0, 0, 0, 0)
}

.textl:hover {
	background: rgba(0, 0, 0, 0.65)
}

.textl input {
	text-align: right;
	font-size: 90%;
}

.frame {
    border: 3px solid #000;
}

a {
    font-family: Impact, fantasy;
	font-style: normal;
	font-size: 150%;

	opacity: 1;
	color: white;
    text-decoration: none;
}

body {
    background-attachment: fixed;
}
